page-home {

// defines the space the map will take on the screen
#map{
width: 100%;
height: 50%;
}

// centers everything in the main body, i'm ready for you to tell me this was wrong
#everything{
text-align: center;

}

}