page-home {

// defines the space the map will take on the screen
#map{
width: 98%;
height: 90%;
text-align: center;
margin: auto;
}

// centers everything in the main body, i'm ready for you to tell me this was wrong
#everything{
text-align: center;
padding-top: 1%;
padding-left: 1%;
padding-right: 1%;
padding-bottom: 1%;

}

}